body{

    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    
    margin: 2rem;

}
.mainbox{
    display: flex;
    justify-content: center;
  
}
.red{
    background-color: rgb(235, 99, 115);
}
 .green{
    background-color: rgb(104, 192, 151);
}
.blue{
    background-color: rgb(134, 165, 202);
}
.orange{
    background-color: rgb(244, 153, 88);
}

.flash{
 background-color: aliceblue;
   
}